/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: var(--hx-color-primary);
$uni-color-success: var(--hx-color-success);
$uni-color-warning: var(--hx-color-warning);
$uni-color-error: var(--hx-color-error);

/* 文字基本颜色 */
$uni-text-color: var(--hx-text-color);
$uni-text-color-inverse: var(--hx-text-color-inverse);
$uni-text-color-grey: var(--hx-text-color-grey);
$uni-text-color-placeholder: var(--hx-text-color-placeholder);
$uni-text-color-disable: var(--hx-text-color-disable);

/* 背景颜色 */
$uni-bg-color: var(--hx-bg-color);
$uni-bg-color-grey: var(--hx-bg-color-grey);
$uni-bg-color-hover: var(--hx-bg-color-hover);
$uni-bg-color-mask: var(--hx-bg-color-mask);

/* 边框颜色 */
$uni-border-color: var(--hx-border-color);

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm: var(--hx-font-size-sm);
$uni-font-size-base: var(--hx-font-size-base);
$uni-font-size-lg: var(--hx-font-size-lg);

/* 图片尺寸 */
$uni-img-size-sm: var(--hx-img-size-sm);
$uni-img-size-base: var(--hx-img-size-base);
$uni-img-size-lg: var(--hx-img-size-lg);

/* Border Radius */
$uni-border-radius-sm: var(--hx-border-radius-sm);
$uni-border-radius-base: var(--hx-border-radius-base);
$uni-border-radius-lg: var(--hx-border-radius-lg);
$uni-border-radius-circle: var(--hx-border-radius-circle);

/* 水平间距 */
$uni-spacing-row-sm: var(--hx-spacing-row-sm);
$uni-spacing-row-base: var(--hx-spacing-row-base);
$uni-spacing-row-lg: var(--hx-spacing-row-lg);

/* 垂直间距 */
$uni-spacing-col-sm: var(--hx-spacing-col-sm);
$uni-spacing-col-base: var(--hx-spacing-col-base);
$uni-spacing-col-lg: var(--hx-spacing-col-lg);

/* 透明度 */
$uni-opacity-disabled: var(--hx-opacity-disabled);

/* 文章场景相关 */
$uni-color-title: var(--hx-color-title);
$uni-font-size-title: var(--hx-font-size-title);
$uni-color-subtitle: var(--hx-color-subtitle);
$uni-font-size-subtitle: var(--hx-font-size-subtitle);
$uni-color-paragraph: var(--hx-color-paragraph);
$uni-font-size-paragraph: var(--hx-font-size-paragraph);
